<p id="notice"><%= notice %></p>

<h1>Destnations</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @destnations.each do |destnation| %>
      <tr>
        <td><%= link_to 'Show', destnation %></td>
        <td><%= link_to 'Edit', edit_destnation_path(destnation) %></td>
        <td><%= link_to 'Destroy', destnation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Destnation', new_destnation_path %>
