<h1>All Pays</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Status</th>
      <th>Amount</th>
      <th>Method</th>
      <th>Book ID</th>
      <th>User ID</th>
    </tr>
  </thead>
  <tbody>
    <% @pays.each do |pay| %>
      <tr>
        <td><%= pay.id %></td>
        <td><%= pay.status %></td>
        <td><%= pay.amount %></td>
        <td><%= pay.method %></td>
        <td><%= pay.book_id %></td>
        <td><%= pay.usr_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
