<h1>Pay <%= @pay.id %></h1>

<p>Status: <%= @pay.status %></p>
<p>Amount: <%= @pay.amount %></p>
<p>Method: <%= @pay.method %></p>
<p>Book ID: <%= @pay.book_id %></p>
<p>User ID: <%= @pay.usr_id %></p>


